# Git stuff
.gitk
*.orig

# Netbeans stuff
build/
dist/
localonly/
nbproject/
build.xml
manifest.mf

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Other stuff
extra/
/Programs/
programs.json
settings.json
